<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HgsWebUtilServicesServiceSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="HgsWebUtilServicesServiceSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://dpexttest.yapikredi.com.tr:443/Hmn/pym/HgsWebUtilServices"
                binding="basicHttpBinding" bindingConfiguration="HgsWebUtilServicesServiceSoapBinding"
                contract="HGSService.IHgsWebUtilServices" name="HgsWebUtilServicesPort" />
        </client>
    </system.serviceModel>
</configuration>