<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="hgsServiceLoginInfo" value="INTGFLDD;Nlvr5068" />
    <add key="hgsEndPointUrl" value="https://dpextprd.yapikredi.com.tr/Hmn/pym/HgsWebUtilServices" />
    <!--SMTP Mail-->
    <add key="SmtpSenderMail" value="btinfo@rentgo.com"/>
    <add key="SmtpSenderPassword" value="RntG3461!**"/>
    <add key="SmtpRecipientMails" value="huseyin.colak@rentgo.com,ogun.karamahmut@rentgo.com"/>
  </appSettings>
</configuration>